<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package uri="http://de.mkonersmann.ejb31/1.0" class="de.mkonersmann.ejb31.Ejb31Package" genModel="src/main/resources/ejb31.genmodel"></package>
   </extension>

</plugin>